<header>
  <div class="main-header__container container">
    <a href="/" class="main-header__logo">
      <h1>SkiRider</h1>
    </a>
    <form class="main-header__search" method="get">
      <mat-form-field appearance="outline">
        <mat-label>Поиск лота</mat-label>
        <input matInput placeholder="Введите поисковой запрос" autocomplete="off">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      </mat-form-field>
      <!-- <input class="main-header__search-btn" type="submit" value="Найти"> -->
    </form>
    <a class="main-header__add-lot button" href="/">Добавить лот</a>

    <nav class="user-menu">
      <!-- <div class="user-menu__image">
            <img src="<?=$_SESSION['user']['avatar_link']?>" width="40" height="40" alt="Пользователь">
        </div>
        <div class="user-menu__logged">
            <a class="my-lots" href="my-lots.php">
                <p><?= $_SESSION['user']['name']; ?></p>
            </a>
            <p><a href="logout.php">Выход</a></p>
        </div> -->
      <ul class="user-menu__list">
        <li class="user-menu__item">
          <a href="/">Регистрация</a>
        </li>
        <li class="user-menu__item">
          <a href="/">Вход</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
