<main>
  <app-categories></app-categories>
  <form [formGroup]="form" class="form container">
    <h2>Вход</h2>
    <mat-form-field appearance="outline" class="form__item">
      <mat-label>E-mail*</mat-label>
      <input matInput placeholder="Введите e-mail" formControlName="login">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form__item form__item--last">
      <mat-label>Пароль*</mat-label>
      <input matInput placeholder="Введите пароль" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>
    <button type="submit" class="button" (click)="login()">Войти</button>
  </form>
</main>
