<main>
  <app-categories></app-categories>
  <form class="form container">
    <h2>Вход</h2>
    <mat-form-field appearance="outline" class="form__item">
      <mat-label>E-mail*</mat-label>
      <input matInput placeholder="Введите e-mail">
      <mat-icon matSuffix>email</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="outline" class="form__item form__item--last">
      <mat-label>Пароль*</mat-label>
      <input matInput placeholder="Введите пароль">
      <mat-icon matSuffix>lock</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
    <button type="submit" class="button">Войти</button>
  </form>
</main>
