.form {
  margin-top: 51px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 450px;
  display: flex;
  flex-direction: column;

  &__header {
    margin: 20px 0;
    align-self: center;
  }
}
