<main>
  <app-categories></app-categories>
  <section class="rates container">
    <h2>Мои ставки</h2>
    <table class="rates__list">
      <tr class="rates__item rates__item--win">
        <td class="rates__info">
          <div class="rates__img">
            <img src="" width="54" height="40" alt="">
          </div>
          <div>
            <h3 class="rates__title">
              <a href="">
               LINK
              </a>
            </h3>
            <p>
              CONTACT_DATA
            </p>
          </div>
        </td>
        <td class="rates__category">
          CATEGORY
        </td>
        <td class="rates__timer">
          <div class="timer timer--win">Ставка выиграна</div>
        </td>
        <td class="rates__price">
          PRICE р.
        </td>
        <td class="rates__time">
          BET_TIME
        </td>
      </tr>
      <tr class="rates__item rates__item--end">
        <td class="rates__info">
          <div class="rates__img">
            <img src="" width="54" height="40" alt="">
          </div>
          <h3 class="rates__title">
            <a href="">
              TITLE
            </a>
          </h3>
        </td>
        <td class="rates__category">
          CATEGORY
        </td>
        <td class="rates__timer">
          <div class="timer timer--end">Торги окончены</div>
        </td>
        <td class="rates__price">
          PRICE р.
        </td>
        <td class="rates__time">
          BET_TIME
        </td>
      </tr>
      <tr class="rates__item">
        <td class="rates__info">
          <div class="rates__img">
            <img src="" width="54" height="40" alt="">
          </div>
          <h3 class="rates__title"><a href="">
              TITLE
            </a></h3>
        </td>
        <td class="rates__category">
          CATEGORY
        </td>
        <td class="rates__timer">
          <div class="timer">
            TIMER
          </div>
        </td>
        <td class="rates__price">
          PRICE р.
        </td>
        <td class="rates__time">
          BET_TIME
        </td>
      </tr>
    </table>
  </section>
</main>
