<ul class="pagination-list">
  <li class="pagination-item pagination-item-prev">
    <a
      [ngClass]="{ 'link-disabled': !isPrevButtonEnabled }"
      (click)="onPageClick(currentPage - 1)">
      Назад
    </a>
  </li>

  <li
    *ngFor="let page of pages"
    class="pagination-item"
    [ngClass]="{'pagination-item-active': page === currentPage}">
    <a (click)="onPageClick(page)">{{ page }}</a>
  </li>

  <li class="pagination-item pagination-item-next">
    <a
      [ngClass]="{ 'link-disabled': !isNextButtonEnabled }"
      (click)="onPageClick(currentPage + 1)">
      Вперед
    </a>
  </li>
</ul>
