<main>
  <app-categories></app-categories>
  <form [formGroup]="form" class="container form">
    <h2 class="form__header">Добавление лота</h2>
    <div class="form__inputs-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Наименование</mat-label>
        <input matInput placeholder="Введите наименование лота" formControlName="name">
        <!-- <span class="form__error">Напишите название лота</span> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Категория</mat-label>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category.idCategory">{{ category.name }}</mat-option>
        </mat-select>
        <!-- <span class="form__error">Выберите категорию</span> -->
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Описание</mat-label>
      <textarea matInput placeholder="Напишите описание лота" formControlName="description"></textarea>
      <!-- <span class="form__error">Напишите описание лота</span> -->
    </mat-form-field>
    <div class="form__image">
      <h3 class="form__image-header">Изображение</h3>
      <app-image-picker
        (selectedFile)="onFileSelected($event)"
      ></app-image-picker>
    </div>
    <div class="form__inputs-wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Начальная цена</mat-label>
        <input matInput placeholder="0" formControlName="startPrice">
        <!-- <span class="form__error">Введите начальную цену</span> -->
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Шаг ставки</mat-label>
        <input matInput placeholder="0" formControlName="priceStep">
        <!-- <span class="form__error">Введите шаг ставки</span> -->
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Дата окончания торгов</mat-label>
      <input matInput type="datetime-local" formControlName="endDate">
      <!-- <span class="form__error">Введите дату завершения торгов</span> -->
    </mat-form-field>
    <!-- <span class="form__error form__error--bottom">Пожалуйста, исправьте ошибки в форме.</span> -->
    <button type="submit" class="button" (click)="uploadData()">Добавить лот</button>
  </form>
</main>
