.form {
  margin-top: 51px;
  padding-bottom: 20px;
  background-color: #fff;
  width: 450px;
  display: flex;
  flex-direction: column;

  &__inputs-wrapper {
    display: flex;
    justify-content: space-between;

    mat-form-field {
      width: 215px;
    }
  }

  &__header {
    margin: 20px 0;
    align-self: center;
  }

  &__image {
    margin-bottom: 20px;
    align-self: center;

    &-header {
      margin-bottom: 5px;
      text-align: center;
    }
  }
}
