@import '~@angular/material/theming';
@include mat-core();

$mat-primary: (
  main: #45abde,
  lighter: #c7e6f5,
  darker: #2e91d1,
  200: #45abde, // For slide toggle,
  contrast : (
    main: $dark-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$mat-accent: (
  main: #25434e,
  lighter: #bec7ca,
  darker: #162c35,
  200: #25434e, // For slide toggle,
  contrast : (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text,
  )
);

$frontend-primary: mat-palette($mat-primary, main, lighter, darker);
$frontend-accent: mat-palette($mat-accent, main, lighter, darker);
$frontend-warn: mat-palette($mat-red);

$frontend-theme: mat-light-theme((
  color: (
    primary: $frontend-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

@include angular-material-theme($frontend-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body {
  margin: 0;
  min-width: 1140px;
  background-color: #dbe6e9;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #25434e;
}

a {
  text-decoration: none;
}

h1 {
  padding-top: 16px;
}

h2 {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  line-height: 35px;
  font-weight: 700;
}

.text-link {
  font-weight: 700;
  color: #45abde;
}

.text-link:hover {
  text-decoration: underline;
}

.text-link:active {
  color: #2590c6;
}

.container {
  width: 1110px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  display: block;
  padding: 9px 32px;
  background-color: #45abde;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  border: none;
  border-radius: 3px;
}

.button:hover,
.button:focus {
  background-color: #61c3f4;
}

.button:active {
  background-color: #2590c6;
}

.button:disabled {
  background-color: #45abde;
  opacity: 0.2;
}
