<main>
  <app-categories></app-categories>
  <form [formGroup]="form" class="container form">
    <h2 class="form__header">Регистрация нового аккаунта</h2>
    <mat-form-field appearance="outline">
      <mat-label>E-mail</mat-label>
      <input matInput placeholder="Введите e-mail" formControlName="mail">
      <mat-icon matSuffix>email</mat-icon>
      <!-- <span class="form__error">"Этот email занят!"</span> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Пароль</mat-label>
      <input matInput placeholder="Введите пароль" formControlName="password">
      <mat-icon matSuffix>lock</mat-icon>
      <!-- <span class="form__error">Введите пароль</span> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Имя</mat-label>
      <input matInput placeholder="Введите имя" formControlName="name">
      <mat-icon matSuffix>badge</mat-icon>
      <!-- <span class="form__error">Введите имя</span> -->
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Контактные данные</mat-label>
      <textarea matInput placeholder="Напишите как с Вами связаться" formControlName="contact"></textarea>
      <!-- <span class="form__error">Напишите как с вами связаться</span> -->
    </mat-form-field>
    <div class="form__avatar">
      <h3 class="form__avatar-header">Аватар</h3>
      <app-image-picker
        (selectedFile)="onFileSelected($event)"
      ></app-image-picker>
    </div>
    <button type="submit" class="button" (click)="uploadData()">Зарегистрироваться</button>
    <a class="form__login-link text-link" [routerLink]="['/login']">Уже есть аккаунт</a>
  </form>
</main>
